USE [master]
GO
/****** Object:  Database [QLProduct]    Script Date: 29/12/2023 1:51:05 PM ******/
CREATE DATABASE [QLProduct]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLProduct', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLProduct.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLProduct_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLProduct_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLProduct].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLProduct]
GO
/****** Object:  UserDefinedFunction [dbo].[Create_Json]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Create_Json](@RoomId INT, @IsRoot INT) 
RETURNS VARCHAR(MAX)
BEGIN 
    DECLARE @Json NVARCHAR(MAX) = '{}', @Name NVARCHAR(MAX), @Children NVARCHAR(MAX)

    SET @Json =  (SELECT P.[name],JSON_QUERY(dbo.Create_Json(P.RoomId, 2) ) AS Children 
                    FROM [dbo].[Bills] AS P  
                    WHERE P.parentRoomId = @RoomId 
                    FOR JSON AUTO);
    IF(@IsRoot = 1) 
    BEGIN
       SELECT @Name = P.[name] FROM [dbo].[Bills] AS P WHERE P.RoomId = @RoomId
       SET @Json =   '"result": {"Parent":"' + @name + '","Children":' + CAST(@Json AS NVARCHAR(MAX)) + '}'
       SET @IsRoot = 0
    END
    RETURN @Json 
END 
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillId] [nchar](30) NOT NULL,
	[BillName] [nchar](100) NULL,
	[SumPrice] [float] NULL,
	[StaffId] [int] NULL,
	[DateBuy] [datetime] NULL,
	[CustomerId] [nchar](10) NULL,
	[CustomerPhone] [nchar](15) NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[IdBr] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](max) NOT NULL,
	[National] [nvarchar](max) NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[IdBr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[IdCa] [int] IDENTITY(1,1) NOT NULL,
	[NameCa] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[IdCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [nchar](10) NOT NULL,
	[CustomerName] [nchar](30) NULL,
	[CustomerPhone] [nchar](15) NULL,
	[CustomerAddress] [nchar](100) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailBills]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailBills](
	[BillId] [nvarchar](30) NOT NULL,
	[IdProduct] [int] NOT NULL,
	[Quantity] [float] NULL,
	[Price] [float] NULL,
	[Discount] [float] NULL,
	[SumPrice] [float] NULL,
	[NameProduct] [nvarchar](max) NULL,
	[IdProductBill] [nchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Infos]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Infos](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CCCD] [nvarchar](max) NOT NULL,
	[BeginDate] [datetime2](7) NOT NULL,
	[PosiId] [int] NOT NULL,
	[RoomId] [int] NULL,
 CONSTRAINT [PK_Infos] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PosiId] [int] IDENTITY(1,1) NOT NULL,
	[PosiName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[PosiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prds]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prds](
	[IdProduct] [int] IDENTITY(1,1) NOT NULL,
	[NameProduct] [nvarchar](max) NOT NULL,
	[IdCategory] [int] NOT NULL,
	[IdBrand] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Prds] PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[parentRoomId] [int] NULL,
	[Name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231117011811_init', N'7.0.11')
GO
INSERT [dbo].[Bills] ([BillId], [BillName], [SumPrice], [StaffId], [DateBuy], [CustomerId], [CustomerPhone]) VALUES (N'HDN_14122023_133841           ', N'Đơn hàng                                                                                            ', 2173500000, 16, CAST(N'2023-12-18T10:24:09.000' AS DateTime), N'KH5       ', N'089929209      ')
INSERT [dbo].[Bills] ([BillId], [BillName], [SumPrice], [StaffId], [DateBuy], [CustomerId], [CustomerPhone]) VALUES (N'HDN_14122023_134121           ', N'Đơn hàng                                                                                            ', 846400000, 8, CAST(N'2023-12-14T13:41:21.000' AS DateTime), N'KH3       ', N'089299382      ')
INSERT [dbo].[Bills] ([BillId], [BillName], [SumPrice], [StaffId], [DateBuy], [CustomerId], [CustomerPhone]) VALUES (N'HDN_14122023_134215           ', N'Đơn hàng                                                                                            ', 0, 2, CAST(N'2023-12-14T13:42:15.000' AS DateTime), N'KH3       ', N'089299382      ')
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([IdBr], [BrandName], [National], [Year]) VALUES (1, N'Apple', N'USA', 1976)
INSERT [dbo].[Brands] ([IdBr], [BrandName], [National], [Year]) VALUES (2, N'Sony', N'Japan', 1946)
INSERT [dbo].[Brands] ([IdBr], [BrandName], [National], [Year]) VALUES (3, N'Samsung', N'Korea', 1969)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([IdCa], [NameCa]) VALUES (1, N'Laptop')
INSERT [dbo].[Categories] ([IdCa], [NameCa]) VALUES (2, N'Phone')
INSERT [dbo].[Categories] ([IdCa], [NameCa]) VALUES (3, N'TV')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[Customers] ([CustomerId], [CustomerName], [CustomerPhone], [CustomerAddress]) VALUES (N'KH1       ', N'Lê Minh H                     ', N'097616652      ', N'Sóc Sơn-Hà Nội                                                                                      ')
INSERT [dbo].[Customers] ([CustomerId], [CustomerName], [CustomerPhone], [CustomerAddress]) VALUES (N'KH2       ', N'Phạm Thanh Bình               ', N'052456516      ', N'Sóc Sơn-Hà Nội                                                                                      ')
INSERT [dbo].[Customers] ([CustomerId], [CustomerName], [CustomerPhone], [CustomerAddress]) VALUES (N'KH3       ', N'Lê Hương L                    ', N'089299382      ', N'Đông Anh-Hà Nội                                                                                     ')
GO
INSERT [dbo].[DetailBills] ([BillId], [IdProduct], [Quantity], [Price], [Discount], [SumPrice], [NameProduct], [IdProductBill]) VALUES (N'HDN_14122023_133841           ', 2, 2, 12000000, 0, 24000000, N'Sony xperia m1000', N'2HDN_22122023_131709                                                                                ')
INSERT [dbo].[DetailBills] ([BillId], [IdProduct], [Quantity], [Price], [Discount], [SumPrice], [NameProduct], [IdProductBill]) VALUES (N'HDN_25122023_135426           ', 1, 5, 30000000, 0, 150000000, N'Iphone 15promax', N'1HDN_25122023_135518                                                                                ')
INSERT [dbo].[DetailBills] ([BillId], [IdProduct], [Quantity], [Price], [Discount], [SumPrice], [NameProduct], [IdProductBill]) VALUES (N'HDN_14122023_133841           ', 46, 20, 19000000, 0, 380000000, N'Ipad pro 2019', N'46HDN_22122023_134458                                                                               ')
GO
SET IDENTITY_INSERT [dbo].[Infos] ON 

INSERT [dbo].[Infos] ([StaffId], [StaffName], [Address], [CCCD], [BeginDate], [PosiId], [RoomId]) VALUES (1, N'Nguyễn Thanh B', N'HN', N'097818718171', CAST(N'2012-08-01T00:00:00.0000000' AS DateTime2), 1, 0)
INSERT [dbo].[Infos] ([StaffId], [StaffName], [Address], [CCCD], [BeginDate], [PosiId], [RoomId]) VALUES (2, N'Phạm Thị Y', N'HN', N'0989817188', CAST(N'2009-09-30T00:00:00.0000000' AS DateTime2), 2, 6)
INSERT [dbo].[Infos] ([StaffId], [StaffName], [Address], [CCCD], [BeginDate], [PosiId], [RoomId]) VALUES (3, N'Lê Phương N', N'HN', N'0999292829', CAST(N'2017-12-31T00:00:00.0000000' AS DateTime2), 1, 5)
SET IDENTITY_INSERT [dbo].[Infos] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PosiId], [PosiName]) VALUES (1, N'Quản Lý')
INSERT [dbo].[Positions] ([PosiId], [PosiName]) VALUES (2, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[Prds] ON 

INSERT [dbo].[Prds] ([IdProduct], [NameProduct], [IdCategory], [IdBrand], [Price], [Date]) VALUES (1, N'Iphone 15promax', 4, 2, 30000000, CAST(N'2023-01-11T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Prds] ([IdProduct], [NameProduct], [IdCategory], [IdBrand], [Price], [Date]) VALUES (2, N'Sony xperia m1000', 2, 7, 120000000, CAST(N'2023-08-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Prds] ([IdProduct], [NameProduct], [IdCategory], [IdBrand], [Price], [Date]) VALUES (3, N'Lenovo k20', 4, 5, 100000000, CAST(N'2022-07-21T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Prds] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [parentRoomId], [Name]) VALUES (1, NULL, N'Khối Kỹ Thuật')
INSERT [dbo].[Rooms] ([RoomId], [parentRoomId], [Name]) VALUES (2, NULL, N'Khối Văn Phòng')
INSERT [dbo].[Rooms] ([RoomId], [parentRoomId], [Name]) VALUES (3, 2, N'Phòng Thiết kế')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password]) VALUES (1, N'Admin', N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([parentRoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
/****** Object:  StoredProcedure [dbo].[Info]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[Info] as begin 
select StaffId,StaffName,Address,CCCD,convert(char(10),BeginDate,103)[BeginDate] from Infos
end
GO
/****** Object:  StoredProcedure [dbo].[Prduct]    Script Date: 29/12/2023 1:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Prduct]
as
begin 
select IdProduct,NameProduct,IdCategory,Idbrand,Price,convert(date, Date,103)[Date] from Prds
end
GO
USE [master]
GO
